* {
    box-sizing: border-box;
}

body { 
    background-color: lightskyblue;
    /* background-image: url("/img/explode4.png"); */
    background-image: url("../img/explode4.png");
    background-repeat: no-repeat;
    /* background-position: center center; */
    /* background-attachment: fixed; */
    background-size: cover;
    /* background-position: 500px; */
}

.main-header {
    position: relative;
    left: 48%;
    bottom: 90%;
    /* left: 40%px; */
    color:darkorange;
    font-weight: bold;
}

table {
    position: fixed;
    left: 45%;
    bottom: 50%
     /* left: 40%px; */
}

 tr, td {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}

.cover {
  background-color: gray;  
}

td img {
    width: 35px;
    height: 35px;
}

div button {
    background-color: red;
    right: 200px;
}

div button:hover {
    cursor: pointer;
}

.end-game {
    margin-bottom: 20px;
    height: 50px;
}
.end-game h1 {
    color: rgb(rgb(178, 187, 57), green, blue);
    display: none;
    position: fixed;
    left: 48%;
    bottom: 71%;
    color: gold;
}

.lives span {
    color: red;
    display: inline;
    font-size: 25px;
}


.mark {
    border: hotpink 4px solid ;
}


.all {
    width: 800px;
    height:180px;
    /* background-color:lightgrey; */
    margin-bottom: 20px;
}

.hint {
background-color: gold;
width: 60px;
height: 50px;
border-radius: 50%;
color: purple;
padding: 15px;
font-weight: bold;
display: inline;
}

.hint1 {
  position: fixed;
  left: 2%;
  bottom: 88%;
}
.hint2 {
  position: fixed;
  left: 10%;
  bottom: 88%;
}
.hint3 {
    position: fixed;
    left: 18%;
    bottom: 88%;
}

.hint-hide {
    display: none;
}

.safe-click {
    height: 100px;
    position: fixed;
    left: 7%;
    bottom: 76%;
}

.safe-amount {
    position: fixed;
    left: 11.7%;
    bottom: 75%;
    padding: 10px;
    color: hotpink;
    font-size: 40px;
}

.face {
    width: 100px;
    margin-left: 200px;
    cursor: pointer;
    position: fixed;
    left: 38%;
    bottom: 78%;
     /* left: 40%px; */
}

.lives {
    display: inline;
    width: 100px;
    position: fixed;
    left: 48%;
    bottom:87% ;
    color:red;
    font-size: 25px;
     /* left: 40%px; */
}

.time-passed {
    display: inline;
    width: 30px;
}

.clock {
    display: inline;
    position: fixed;
    left: 43%;
    bottom: 85%;
    color: lightsteelblue;
    font-size: 20px;
}

.best-score-header {
    display: inline;
    width: 250px;
    position: fixed;
    left: 43%;
    bottom: 80%;
    color: gold;
}

.best-score {
    display: inline;
    width: 250px;
    position: fixed;
    left: 45%;
    bottom: 77%;
    color: gold;
}


.manual-Btn {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: fixed;
    left: 77%;
    bottom: 85%;
}

.undo { 
    position: fixed;
    left: 88%;
    bottom: 85%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: blueviolet;
}

.seven-boom {
    position: fixed;
    left: 65%;
    bottom: 85%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color:brown;
}


.level4 {
    position: fixed;
    left: 65%;
    bottom: 77%;
    background-color:chartreuse;
    border-radius: 20px;
    height: 50px;
    padding: 10px;
}

.level8 {
    position: fixed;
    left: 77%;
    bottom: 77%;
    background-color:purple;
    border-radius: 20px;
    height: 50px;
    padding: 10px;
}

.level12 {
    position: fixed;
    left: 88%;
    bottom: 77%;
    background-color: red ;
    border-radius: 20px;
    height: 50px;
    padding: 10px;
}